@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

//Pc max-width 1440px
:root {
  --Pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Gray-ish-Blue: hsl(208, 11%, 55%);
  --general-font: 18px;
  --header-font-family: "Poppins", sans-serif;
  --main-font-family: "Open Sans", sans-serif;
  --border-radius: 1rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  .background-image {
    background-image: url("../img/bg-hero-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    header {
      margin: 1rem 6rem 0 6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        margin: 1rem;
        width: 200px;
      }
      .try-free-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        width: 230px;
        background-color: #fff;
        height: 50px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 3rem;
        #try-it-message {
          color: var(--Very-Dark-Cyan);
          font-weight: 700;
          font-size: 16px;
          line-height: 0;
          margin: 0;
        }
      }
    }
    .landing-pc-view {
      display: grid;
      grid-template-columns: 1fr 55%;
      margin: 0 4rem;
      .margin {
        padding: 0, 4rem;
        h1 {
          font-family: var(--header-font-family);
          color: var(--Very-Dark-Cyan);
          margin-top: 10rem;
          font-size: 3rem;
          line-height: 1.3;
          font-weight: 700;
        }
        p {
          line-height: 1.5;
          margin-top: 2rem;
          color: #38555d;
          font-weight: 400;
          font-size: 20px;
        }
        .button-container {
          .get-started-button {
            font-size: 14px;
            font-weight: 700;
            padding: 1rem 0;
            margin-top: 2rem;
            width: 300px;
            border-radius: 1.5rem;
            background-color: var(--Pink);
            text-align: center;
            color: var(--Very-Pale-Cyan);
            border: none;
          }
        }
        .img-container-landingpage {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 4.6rem;
          margin-bottom: 4.5rem;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .margin {
    margin: 0 45px;
    main {
      font-family: var(--main-font-family);
      .card-section {
        display: grid;
        grid-template-columns: 1fr;
        .card {
          padding: 2.5rem 1.5rem;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
          background-color: #fff;
          margin: 1rem 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: auto;
          }
          h2 {
            text-align: center;
          }
          p {
            line-height: 1.5;
            text-align: center;
            color: var(--Gray-ish-Blue);
            margin: 0.5rem 0;
          }
        }
      }
      .card-inter-container {
        position: absolute;
        .position-ab {
          position: relative;
          background-color: #fff;
          border-radius: 2rem;
          width: 100%;
          .card-inter {
            display: flex;
            justify-content: center;
            flex-direction: column;
            h3 {
              text-align: center;
              font-weight: 700;
            }
          }
          .container-button {
            display: flex;
            justify-content: center;
          }
          button {
            color: var(--Very-Pale-Cyan);
            background-color: var(--Pink);
            border-radius: 24px;
            padding: 12px;
            margin: 2rem 0;
            border: none;
            width: 250px;
            box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
  .container-footer {
    margin-top: 5.5rem;
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Cyan);
    font-family: var(--main-font-family);
    padding: 20px;
  }

  .icons-footer {
    margin: 10rem 0 0 0;
  }

  .item-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }

  .icon-description {
    width: 10%;
    padding-top: 20px;
  }

  .description {
    width: 85%;
  }

  .footer-menu {
    margin: 4px;
    padding: 4px;
  }

  .footer-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
  }

  .footer-menu ul li {
    margin: 8px 0px;
  }

  .icons-social-media {
    margin-top: 12px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }

  .title-final {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Gray-ish-Blue: hsl(208, 11%, 55%);
    --general-font: 18px;
    --header-font-family: "Poppins", sans-serif;
    --main-font-family: "Open Sans", sans-serif;
    --border-radius: 1rem;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    .background-image {
      background-image: url("../img/bg-hero-mobile.svg");
      background-size: cover;
      background-repeat: no-repeat;

      header {
        margin: 1rem 1.2rem 0 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          margin: 1rem;
          width: auto;
          height: 20px;
        }
        .try-free-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          background-color: #fff;
          height: 30px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 1rem;
          #try-it-message {
            color: var(--Very-Dark-Cyan);
            font-weight: 700;
            font-size: 16px;
            line-height: 0;
            margin: 0;
          }
        }
      }
      .landing-pc-view {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        margin: 0;
        h1 {
          font-family: var(--header-font-family);
          color: var(--Very-Dark-Cyan);
          margin-top: 5.4rem;
          font-size: 1.9rem;
          line-height: 1.3;
          text-align: center;
          font-weight: 700;
        }
        p {
          line-height: 1.5;
          text-align: center;
          margin-top: 2rem;
          color: #38555d;
          font-weight: 400;
          font-size: var(--general-font);
        }
        .button-container {
          display: flex;
          justify-content: center;
          .get-started-button {
            font-size: 14px;
            font-weight: 700;
            padding: 1rem 0;
            margin-top: 2rem;
            width: 300px;
            border-radius: 1.5rem;
            background-color: var(--Pink);
            text-align: center;
            color: var(--Very-Pale-Cyan);
            border: none;
          }
        }
        .img-container-landingpage {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 4.6rem;
          margin-bottom: 4.5rem;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .margin {
      margin: 0 45px;
      main {
        font-family: var(--main-font-family);
        .card-section {
          display: grid;
          grid-template-columns: 1fr;
          .card {
            padding: 2.5rem 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
            background-color: #fff;
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              height: auto;
            }
            h2 {
              text-align: center;
            }
            p {
              line-height: 1.5;
              text-align: center;
              color: var(--Gray-ish-Blue);
              margin: 0.5rem 0;
            }
          }
        }
        .card-inter-container {
          position: absolute;
          .position-ab {
            position: relative;
            background-color: #fff;
            border-radius: 2rem;
            width: 100%;
            .card-inter {
              display: flex;
              justify-content: center;
              flex-direction: column;
              h3 {
                text-align: center;
                font-weight: 700;
              }
            }
            .container-button {
              display: flex;
              justify-content: center;
            }
            button {
              color: var(--Very-Pale-Cyan);
              background-color: var(--Pink);
              border-radius: 24px;
              padding: 12px;
              margin: 2rem 0;
              border: none;
              width: 250px;
              box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
    .container-footer {
      margin-top: 5.5rem;
      background-color: var(--Very-Dark-Cyan);
      color: var(--Very-Pale-Cyan);
      font-family: var(--main-font-family);
      padding: 20px;
    }

    .icons-footer {
      margin: 10rem 0 0 0;
    }

    .item-container {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
    }

    .icon-description {
      width: 10%;
      padding-top: 20px;
    }

    .description {
      width: 85%;
    }

    .footer-menu {
      margin: 4px;
      padding: 4px;
    }

    .footer-menu ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      flex-wrap: wrap;
    }

    .footer-menu ul li {
      margin: 8px 0px;
    }

    .icons-social-media {
      margin-top: 12px;
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
    }

    .title-final {
      font-size: 12px;
      display: flex;
      justify-content: center;
    }
  }
}
